#banner {
	width:49.9%;
}

.principal{
	background: #CCCCCC;
	padding: 300px;
}

.titulo-principal {
	padding-right: 600%;
}

.titulo-centralizado {

	font-size: 150px;
	text-align: center

}
-size: 80px
}

.titulo-centralizado2 {
	font-size: 200px;
	text-align: center;
}


p {
	text-align: center;
	font-size: 60px;
}

#missao {
.titulo-centralizado2 {
	font-size: 200px;
	text-align: center
}
	font-size: 80px
	he	width: 49%;
}-size: 80px
}

em strong {
	color: #FF0000;
}-size: 80px
}

.titulo-centralizado2 {
	font-size: 200px;
	text-align: center
}
.itens {
	font-size: 70px;
	font-style: oblique;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {style
	display: inline-block;
	vertical-align: top;
	width: 20%;style
	margin-right: 15%;
}

.imagembeneficios {
	width: 49%;
}
